torch==2.9.1
torchvision==0.24.1
torchaudio==2.5.1+cu121
torchmetrics==1.8.2
torchsummary==1.5.1
torchao==0.15.0

cuda-toolkit==13.1.1
nvidia-cuda-runtime==13.1.80
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21

opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
pillow==12.0.0

numpy==2.2.6
scipy==1.16.3
scikit-learn==1.8.0
timm==1.0.24

ultralytics==8.3.242
ultralytics-thop==2.0.18

pyyaml==6.0.3
tqdm==4.67.1
